.services {
    padding: 100px 0;
    background: linear-gradient(103.74deg, #FDC101 12.37%, #FFCA0F 88.05%);
}

.services__header {
    font-family: Century Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 88px;
    color: #FFFFFF;
    text-align: center;
}

.services__content {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
}

.services__item {
    z-index: 1000;
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    max-width: 182px;
    width: 100%;
    max-height: 195px;
    min-height: 195px;

    background: #FFFFFF;

    box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

.services__item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services__title {
    font-family: Century Gothic;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    text-align: center;
    color: #000000;
}

.services__img {
    display: block;
    max-width: 121.5px;
    max-height: 120.41px;
}