{% extends 'base.html' %}
{% load static %}

{% block title %}О нас{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
    
    {% include 'components/header.html' %}
    
    <main>
        <div class="about" style="margin-top: 100px;">
            <div class="container">
                <div class="about__inner">
                    <div class="about__title">Контакты</div>
                    <div class="contacts">
                        <div class="contacts__item">
                            <div class="contact__item">
                                <img src="{% static 'img/about/phone.png' %}" alt="">
                                <p>Телефон: +7 (937) 341-21-51</p>
                            </div>
                            <div class="contact__item">
                                <img src="{% static 'img/about/vk.png' %}" alt="">
                                <p>https://vk.com</p>
                            </div>
                        </div>
                        <div class="contacts__item">
                            <div class="contact__item">
                                <img src="{% static 'img/about/dog.png' %}" alt="">
                                <p>kodakprof@mail.ru</p>
                            </div>
                            <div class="contact__item">
                                <img src="{% static 'img/about/wats.png' %}" alt="">
                                <p>+7 (937) 341-21-51</p>
                            </div>
                        </div>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d667.4986236565455!2d53.70370767849185!3d54.60438306028056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x32f340c53b1d2a34!2z0JzQuNC90Lgt0JzQsNGA0LrQtdGCINCc0LDRgNCw0YI!5e0!3m2!1sru!2sru!4v1620912859437!5m2!1sru!2sru" width="600" height="450" style="border:0;margin: 0 auto;display: flex;margin: 82px auto 0;border-radius: 20px;max-width: 600px;width: 100%;"  allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </main>

    <div class="services" style="padding: 65px 0;">
        <div class="container">
            <div class="services__inner">
                <div class="services__header">
                    Услуги
                </div>
                <div class="services__content">
                    <div class="services__item">
                        <a href="{% url 'photo_printing' %}">
                        <div class="services__title">Фотопечать</div>
                        <img src="{% static 'img/our_services/items/icon1.png' %}" alt="" class="services__img">
                        </a>
                    </div>
                    <div class="services__item">
                        <a href="{% url 'document_printing' %}">
                        <div class="services__title">Печать документов</div>
                        <img src="{% static 'img/our_services/items/icon2.png' %}" alt="" class="services__img">
                        </a>
                    </div>
                    <div class="services__item">
                        <a href="{% url 'photo_processing' %}">
                        <div class="services__title">Обработка фото</div>
                        <img src="{% static 'img/our_services/items/icon3.png' %}" alt="" class="services__img">
                        </a>
                    </div>
                    <div class="services__item">
                        <a href="{% url 'blueprints' %}">
                        <div class="services__title">Печать чертежей</div>
                        <img src="{% static 'img/our_services/items/icon4.png' %}" alt="" class="services__img">
                        </a>
                    </div>
                    <div class="services__item">
                        <a href="{% url 'brochure_printing' %}">
                        <div class="services__title">Печать брошюр</div>
                        <img src="{% static 'img/our_services/items/icon5.png' %}" alt="" class="services__img">
                        </a>
                    </div>
                    <div class="services__item">
                        <a href="{% url 'shirt_printing' %}">
                        <div class="services__title">Печать на футболках кружках</div>
                        <img src="{% static 'img/our_services/items/icon6.png' %}" alt="" class="services__img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'components/footer.html' %}
{% endblock %}