<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__item">
                <p>Телефон: +7 (937) 341-21-51</p>
                <p>kodakprof@mail.ru</p>
                <p>https://vk.com/id398399120</p>
            </div>
            <div class="footer__item middle__element">
                <a href="{% url 'main' %}">Главная</a>
                <a href="{% url 'services' %}">Услуги</a>
                <a href="{% url 'about' %}">Контакты</a>
            </div>
            <div class="footer__item">
                <p>РБ, г.Туймазы пр.Ленина д.5 мини-маркет “Марат” Фотосалон “Кодак-Экспресс”</p>
            </div>
        </div>
    </div>
</footer>